%p= @restaurant.name
%p= @restaurant.description
%h3
  Review for
  = @restaurant.name
  %h3 Average rating: #{@restaurant.average_rating.to_i}

- if @restaurant.reviews.any?
  %ul
    - @restaurant.reviews.each do |review|
      %li
        = review.thoughts
        %strong= review.rating
        \/5
      - if current_user == review.user
        = link_to "Edit review", edit_restaurant_review_path(review.restaurant_id, review)
        = link_to "Delete review", restaurant_review_path(review.restaurant_id, review), method: :delete
- else
  %p No reviews
